/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input

	{	
		
		margin:0; 
		padding:0;

	}


* { margin: 0; padding: 0; box-sizing:border-box;}

section { margin: 0; padding: 0; border:0; }
div	{ margin: 0; padding: 0; border:0; }
main { margin: 0; padding: 0; border:0; }
img { margin: 0; padding: 0; border:0; }

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-size:100%;
}

body { background:#000000; }

.container {
	position: relative;
	width: 100%;
	height: 758px;
	max-width: 1285px;
	background-image: url('../img/floor_tile.png');
	background-repeat: repeat;
	border: gold solid 4px;
	margin: auto;
}
		
#m1 {
	position:absolute;
	width:100%;
	max-width:75px;
	height:75px;
	border:solid 1px transparent;
	border-radius:50%;
	background-image:url('../img/marble1.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	transition:800ms all ease-in-out;
}

#m2 {
	width: 100%;
	max-width: 78px;
	height: 75px;
	border: solid 1px transparent;
	border-radius: 50%;
	background-image: url('../img/marble2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	transition: 800ms all ease-in-out;
}

#m3 {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	max-width:75px;
	height:75px;
	border:solid 1px transparent;
	border-radius:50%;
	background-image:url('../marble3.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	transition:800ms all ease-in-out;
}